@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

@import url("../blocks/nav.css");
@import url("../blocks/header.css");
@import url("../blocks/main.css");
@import url("../blocks/footer.css");

.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2f2f2f;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
}
